{% extends "layout.html" %}

{% block nav %}
<a href="index.html">About Me</a>
<a href="experience.html", class = "active"> Experience </a>
<a href="portfolio.html">Portfolio</a>
{% endblock nav %}



{% block content %}
<div  ng-controller='ExperienceListController'>
  <!-- Searchable Shopping List: -->
  <div id = "filter-bar">
	  <label for="keyword">Search keyword:</label>
	  <input type="text" id="keyword" placeholder="python" ng-model="keyword"><br>
	  <label for="fulltime"> Full-time </label>
	  <input type="checkbox" checked="checked" id="fulltime" ng-model="fulltime">
	  <label for="internship"> Internship </label>
	  <input type="checkbox" checked="checked" id="internship" ng-model="internship">
	  <label for="project"> Project/Award </label>
	  <input type="checkbox" checked="checked" id="project" ng-model="project">
	  <label for="education"> Education </label>
	  <input type="checkbox" checked="checked" id="education" ng-model="education">
	  </div>
  <ul class="timeline">
    <li class = "timeline-event" ng-repeat="item in experienceList | filter: experienceFilter(keyword, fulltime, internship, project, education)" ng-mouseover = "adaptBackground(item.name)" ng-mouseleave="resetBackground()"> 
    	<label class="timeline-event-icon"></label>
    	<div class="timeline-event-copy">
    		<p class="timeline-event-thumbnail">{a item.time a}</p>
    		<h3> {a item.title a}</h3>
    		<h4> {a item.firm a}</h4>
    		<ul ng-repeat="content in item.content">
    			<li> {a content a}</li>
    		</ul>
    		<p ng-hide="item.empty_content"><strong><u>Language</u></strong>: {a item.languages a}</p>
    		<p ng-hide="item.empty_content"><strong><u>Skills</u></strong>: {a item.skills a}</p>

    	</div>
    </li>
  </ul>
</div>
{% endblock content %}



