{% extends "layout.html" %}

{% block nav %}
<a href="index.html">About Me</a>
<a href="experience.html", class = "active"> Experience </a>
<a href="portfolio.html">Portfolio</a>
{% endblock nav %}



{% block content %}
<ul class="timeline">
	<li class="timeline-event">
    <label class="timeline-event-icon"></label>
    <div class="timeline-event-copy">
      <p class="timeline-event-thumbnail">May 2020 - Present</p>
      <h3>Associate Quantitative Analyst, Fixed Income</h3>
      <h4>Morgan Stanley, NYC</h4>
     
    </div>
  </li>
  <li class="timeline-event">
    <label class="timeline-event-icon"></label>
    <div class="timeline-event-copy">
      <p class="timeline-event-thumbnail">October 2019 - January 2020</p>
      <h3>Fall Associate</h3>
      <h4>Morgan Stanley, NYC</h4>
      <ul>
	      <li> Calibrated a double-exponential jump diffusion process on asset price dynamics using MLE methods</li>
	      <li> Created a reverse repurchase agreement pricing model accounting for credit spread and Wrong Way Risk</li>
	      <li> Designed an interactive dashboard for daily P&L tracking using JavaScript, HTML5 and CSS3</li>
	      <li> Implemented an unsupervised record linkage algorithm to generate Machine Learning training dataset</li>
  		</ul>
    </div>
  </li>
  <li class="timeline-event">
    <label class="timeline-event-icon"></label>
    <div class="timeline-event-copy">
      <p class="timeline-event-thumbnail">January 2018 - July 2018</p>
      <h3>Junior Data Analyst</h3>
      <h4>Amazon, Paris</h4>
      <ul>
      <li> Created procedures to improve pricing automation and competition monitoring.</li>
      <li> Closely monitored the daily pricing procedure to ensure company policies are followed </li>
      <li> Automated and managed countrywide pricing performance dashboards using SQL and VBA </li>
  		</ul>	
    </div>
  </li>
  <li class="timeline-event">
    <label class="timeline-event-icon"></label>
    <div class="timeline-event-copy">
      <p class="timeline-event-thumbnail">July 2017 - December 2017</p>
      <h3>Intern, Equity Derivatives SalesTrading</h3>
      <h4>Commerzbank, London</h4>
      <ul>
      <li> Conceived a structured product pricing interface using Excel VBA and C++</li>
      <li> Priced a wide range of products such as Phoenix-Autocalls for institutional clients</li>
      <li> Booked trades from Hong Kong, Korean and European offices on a daily basis </li>
  </ul>
    </div>
  </li>
</ul>
{% endblock content %}