<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163594486-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-163594486-1');
	</script>

	{% if title %}
		<title>Raymond Ji - {{title}}</title>
	{% else %}
		<title>Raymond Ji</title>
	{% endif %}

	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}"> -->
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
	<script src="{{ url_for('static', filename='three.r95.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vanta.waves.min.js') }}"></script>	
	 
</head>
<body>
	<div class="container">
		<header>
			<h1> Raymond Ji </h1>
			<h2> New York, NY </h2>
			<nav>
				{% block nav %} {% endblock nav%}
			</nav>

		</header>

		<main>
			{% block content %}{% endblock content%}
		</main>
	</div>
	
	

	<div id="vantajs"></div>
	<script>
		VANTA.WAVES({
		  el: "#vantajs",
		  mouseControls: true,
		  touchControls: true,
		  minHeight: 200.00,
		  minWidth: 200.00,
		  scale: 1.00,
		  scaleMobile: 1.00,
		  //color: 0x21b,
		  color: 0x171525,
		  shininess: 11.00,
		  waveHeight: 10.00,
		  waveSpeed: 0.60,
		  zoom: 0.65
		})
	</script>

	<!-- <script>
	VANTA.FOG({
	  el: "#vantajs",
	  mouseControls: true,
	  touchControls: true,
	  minHeight: 200.00,
	  minWidth: 200.00,
	  highlightColor: 0xc0bbbb,
	  midtoneColor: 0x6a6fd7,
	  lowlightColor: 0x16007f,
	  baseColor: 0x0,
	  blurFactor: 0.65,
	  speed: 0.80,
	  zoom: 1.20
	})
	</script> -->
</body>
</html>